# Sniperkit-Bot
# - Status: analyzed

﻿################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/.vs
/Bookmarks.Mongo.Data/bin/Debug
/Bookmarks.Mongo.Data/obj/Debug
/TagSortService/bin
/TagSortService/obj
/TagSortService.Tests/bin/Debug
/TagSortService.Tests/obj/Debug

