<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5.1"/>
  <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </httpHandlers></system.web>
<system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <httpErrors existingResponse="PassThrough"/>
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </handlers>
  </system.webServer>

  <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAXbfqqsH5wUS5DppfO+lXRAQAAAACAAAAAAAQZgAAAAEAACAAAACXIYSeoSK/2RrKu2pNZ01wA2hBJDUqMZ0y3tD3j4VHPwAAAAAOgAAAAAIAACAAAAAiFNmKCRxKhtn9X3XTMNl7vnN9/HM1wwgm5uH7Cxk8lXABAABcJ72zl9jc1tgK4JGbapKV5WceZr3s80VETVzwdFraboFVIJ6JhstVhKNxxqwUwQZk3lQvTm2vlfgRnnP2zHM5tUiYJq77qWMyWxXpJ7ifYE2SMAmWuALyFHQycAgJ4lP7U61Z6bCoe44eIIe5RqhsnSz56ors0eOVF/ytJQfD+WccNK0Vg+lSidOpbPu67deHI6fqQPQTbJ6cbKXhqH0JBYgmAOBlEsTvMOVwgeim8IEvS3+zh6i/wsQbgYjdyQXsf4tCMOcD2seDplmV5CCJTQKKqW264RaxCCkHI1rqrSM+YIB6n96FG1G+MXTaIg4zXOeP5iB24U9joM4ZUci+fjaDjQ3OH6IycpALW3Mt+PAGs9uYoHZCsd+Uv/nfV71bNrcmm49ri1lmpO92ksiVm0LzAeloHqIGsb2rvniiQrdXccWw8WiRgvAKIK9YJlfcgP8P5hEQaakqv5tMLRWvpJr2jMu2qXfFypSR4aGrk0AAAACS4SQoHezoHVdKkIEOxSZkYBt6+Cl9TH4NgeJOMSrN6CdAgMElbYBkm4Q2+FcsWR4dfKaMfdgl5a8Gno2WLuju</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>